<div class="center jumbotron">
    <h1>Welcome!</h1>
    <p>On behalf of Dr. Stockwell and her research team within James Madison University’s College of Integrated Science and Engineering, thank you for visiting our site dedicated to content related to our ongoing research involving the isolation and genetic characterization of  strains of the benficial bacterium, <i>Bradyrhizobium japonicum</i>.</p> 
    <p>Our goal for this research is to develop a better understanding of <i>Bradyrhizobium japonicum</i> specifically, the mechanisms by which it forms a symbiotic relationship with soybeans. We also wish to further develop our educational collaboration with the STEM Academy of Harrisonburg High School as part of a Citizen Science outreach that comprises a major portion of this project. In addition to providing meaningful educational opportunities for prospective biologists at the high school level, our partnership with the HHS STEM Academy provides our research team with an increased sample output from the field.</p>
    <p>The purpose of this site is to be a source of informative material for interested students and instructors as well as a public record for archived and current contributions to our research. Click the links below for more information</p>
 <%= link_to "Contact us to learn more!", "", class: "btn btn-large btn-success" %>
</div>

<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            Student Information
        </h3>
        <p><%= link_to "Project Goals and Background Information", "", class: "btn btn-success btn-small" %></p>
        <p><%= link_to "Project Methodologies", "", class: "btn btn-success btn-small" %></p>
        <p><%= link_to "Instructional Media", "", class: "btn btn-success btn-small" %></p>
    </div>
    
    <div class="col-lg-4">
        <h3 class="midrow">
            Instructor Information
        </h3>
        <p><%= link_to "Procedure and Preparatory Notes", "", class: "btn btn-success btn-small" %></p>
        <p><%= link_to "Project Information and Important Timelines", "", class: "btn btn-success btn-small" %></p>
        <p><%= link_to "Necessary Materials", "", class: "btn btn-success btn-small" %></p>
    </div>
    
    <div class="col-lg-4">
        <h3 class="midrow">
            Instructor Information
        </h3>
        <p><%= link_to "Procedure and Preparatory Notes", "", class: "btn btn-success btn-small" %></p>
        <p><%= link_to "Project Information and Important Timelines", "", class: "btn btn-success btn-small" %></p>
        <p><%= link_to "Necessary Materials", "", class: "btn btn-success btn-small" %></p>
    </div>
</div>